/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

/* COLORES */
$btnMenu: #69447c;
$btnAgregar: #39804b;
$btnGen: #30748f;
$btnRemover: #949494;
$bgNav2: #d8bbd2;
$bgTarj: #fafafa;

/* GENERAL */
h4, h6, p {
    color: $btnMenu;
}

p {
    font-size: .9rem;
}

.nav1 {
    background-color: #d7c9df;
    z-index: 1;
    height: 50px;
}

.footer {
    background-color: $bgNav2;
    z-index: 1;
}

.nav2 {
    background-color: $bgNav2;
    padding-top: 60px!important;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tarjProd, .presupuesto, .swal2-popup.swal2-modal.swal2-show, .swal2-popup.swal2-toast.swal2-show {
    color: $btnMenu;
    border-color: $bgNav2;
    background-color: $bgTarj;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem .2rem #35353548;
}

.presupuesto {
    margin-bottom: 58px;
}

.contImgTarj {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background: radial-gradient(closest-side, darken($bgNav2, 20%), lighten($bgNav2, 15%));
    object-fit: cover;
    &:hover {
        transform: scale(1.25);
        transition: transform 200ms ease-in-out;
    }
}

.imgTarj {
    -webkit-filter: drop-shadow(5px 5px 2px #18181880);
}

.btn {
    background-color: $btnMenu;
    color: white;
    border: 0!important;
    border-radius: 5rem;
    font-size: .8rem;
    font-weight: bold;
    &Menu, &ContCompra, &Checkout, &Comprar {
        &:hover, &:focus {
            cursor: pointer;
            background-color: lighten($btnMenu, 10%);
        }
        &Carr {
            font-size: 1rem;
        }
    };
    &Add {
        background-color: darken($bgNav2, 20%);
        color: white;
        &:hover, &:focus {
            background-color: $btnAgregar;
        }
    };
    &Remover {
        background-color: $btnRemover;
        color: white;
        &Carr {
            font-size: 1rem;
        }
    }
}

.bi-check-circle-fill {
    color: green;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    padding: 0!important;
    margin: 0!important;
    opacity: .5;
    animation: pop 0.2s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.2);}
}