/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

/* COLORES */
$btnMenu: #69447c;
$btnAgregar: #39804b;
$btnGen: #30748f;
$btnRemover: #949494;
$bgNav2: #d8bbd2;

/* GENERAL */
h4 {
    color: $btnMenu;
}

h6 {
    color: $btnMenu;
}

p {
    font-size: .9rem;
}

main > div > p {
    color: #465964;
}

.nav1 {
    background-color: #d7c9df;
    z-index: 1;
    height: 50px;
}

.footer {
    background-color: $bgNav2;
    z-index: 1;
}

.nav2 {
    background-color: $bgNav2;
    padding-top: 60px!important;
}

.tarjProd {
    border-color: $bgNav2;
    background-color: #fdfcfd;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem .3rem #bdbdbd;
}

.presupuesto {
    border-color: #30748f;
    background-color: #fdfcfd;
    box-shadow: .2rem .2rem .3rem #bdbdbd;
}

.btn {
    background-color: $btnMenu;
    color: white;
    border: 0!important;
    border-radius: 5rem;
    &Menu, &ContCompra, &Checkout, &Comprar {
        &:hover, &:focus {
            cursor: pointer;
            background-color: lighten($btnMenu, 10%);
        }
    };
    &Add {
        background-color: darken($bgNav2, 20%);
        color: white;
        &:hover, &:focus {
            background-color: $btnAgregar;
        }
    };
    &Remover {
        background-color: $btnRemover;
        color: white;
    }
}

.bi-check-circle-fill {
    color: green;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    padding: 0!important;
    margin: 0!important;
    opacity: .5;
    animation: pop 0.2s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.2);}
}